<launch>

  <group ns="r1">
  <include file="$(find bitbots_bringup)/launch/load_robot_description_thmos.launch" />
  <arg name="tf_prefix" value="r1/"/>
  <node name="motor_goals_viz_helper" pkg="bitbots_bringup" type="motor_goals_viz_helper_thmos.py" args="--kick" />
  <node name="dynamic_kick" pkg="bitbots_dynamic_kick" type="KickNode" output="screen">
    <rosparam command="load" file="$(find bitbots_dynamic_kick)/config/kick_config.yaml" />
    <param name="base_link_frame" value="$(arg tf_prefix)base_link"/>
    <param name="base_footprint_frame" value="$(arg tf_prefix)base_footprint"/>
    <param name="r_sole_frame" value="$(arg tf_prefix)r_sole"/>
    <param name="l_sole_frame" value="$(arg tf_prefix)l_sole"/>
  </node>
  <node name="rviz" pkg="rviz" type="rviz" output="screen" required="true"
    args="-d $(find wolfgang_description)/config/wolfgang.rviz" />
  </group>

  <group ns="b1">
  <include file="$(find bitbots_bringup)/launch/load_robot_description_thmos.launch" />
  <arg name="tf_prefix" value="b1/"/>
  <node name="motor_goals_viz_helper" pkg="bitbots_bringup" type="motor_goals_viz_helper_thmos.py" args="--kick" />
  <node name="dynamic_kick" pkg="bitbots_dynamic_kick" type="KickNode" output="screen">
    <rosparam command="load" file="$(find bitbots_dynamic_kick)/config/kick_config.yaml" />
    <param name="base_link_frame" value="$(arg tf_prefix)base_link"/>
    <param name="base_footprint_frame" value="$(arg tf_prefix)base_footprint"/>
    <param name="r_sole_frame" value="$(arg tf_prefix)r_sole"/>
    <param name="l_sole_frame" value="$(arg tf_prefix)l_sole"/>
  </node>
  <node name="rviz" pkg="rviz" type="rviz" output="screen" required="true"
    args="-d $(find wolfgang_description)/config/wolfgang.rviz" />
  </group>

</launch>
